.navbar-container {
    padding-top: 5px;
    display: flex;
    height: 50px;
    width: 100%;
}

#menu-icon {
    margin-right: 10px;
    margin-left: 5px;
}

.images-container {
    display: inline-block;
}

.search-container {
    display: inline-block;
    margin: 0;


}

#search-input {
    margin-left: 100px;
    width: 500px;
    height: 30px;
    margin-right: 0px;





}

.search-button {
    display: flex;
    height: 32px;
    width: 60px;
    background-color: lightgrey;
    border: 2px solid lightgrey;
    margin-left: -5px;
    align-items: center;
    justify-content: center;
}

#search-button {
    height: 18px;


    width: 18px;
    border: none;

}

.right-side-icons {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 0;
}

li {
    margin: 0;
    padding: 0;
}

.icon {
    width: 25px;
    height: 23px;
    margin-right: 20px;
}

a {
    font-size: 18px;
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;

}

iframe[Attributes Style] {
    width: 700px;
    height: 450px;
    border: 0px;
    padding-left: 100px;
}

iframe {
    padding-left: 100px;
    padding-top: 50px;

}