body {
    width: 100%;
}

.navbar-container {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    justify-content: space-around;

}

.search_and_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 600px;
}

#menu-icon {
    margin-right: 10px;
    margin-left: 5px;
}



.search-container {

    margin: 0;


}

#search-input {
    width: 400px;
    height: 30px;
    margin-right: 0px;





}

.search-button {
    display: flex;
    height: 32px;
    width: 60px;
    background-color: lightgrey;
    border: 2px solid lightgrey;
    margin-left: -5px;
    align-items: center;
    justify-content: center;
}

#search-button {
    height: 18px;


    width: 18px;
    border: none;

}

.right-side-icons {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 0;
}

li {
    margin: 0;
    padding: 0;
}

.icon {
    width: 25px;
    height: 23px;
    margin-right: 20px;
}

a {
    font-size: 15px;
    text-decoration: none;
    font-family: Roboto, sans-serif, Arial;


}

iframe[Attributes Style] {
    width: 700px;
    height: 450px;
    border: 0px;
    padding-left: 100px;
}

iframe {
    padding-left: 100px;
    padding-top: 30px;

}

.main {
    flex: 2;
    z-index: 1;

}


#info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    align-items: center;
}

#view-count {
    width: 100px;
    height: 50px;
    margin-right: 300px;
    margin-left: 10px;
    font-family: Roboto, sans-serif, Arial;
    color: gray;
}

#info-box {
    width: 300px;
    height: 50px;
    margin-right: 10px;
    font-family: Roboto, sans-serif, Arial;
    color: gray;
}

.video-container {
    display: flex;
    padding: 0px;
    margin: 0px;
    justify-content: space-between;
    flex-flow: row wrap;

}

.sidebar {
    flex: 1;

}

.recomended {
    display: flex;
    padding: 0px;
    margin: 0px;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.recomended-image {
    display: flex;
    flex: 1;
    margin-right: 10px;
}

.recomended-text {
    flex: 2;
}

.recomended-text {
    display: inline;
    font-family: Roboto, sans-serif, Arial;
    font-size: 15px;
    margin-right: 15px;
}

#recomended-sub-count {
    margin-top: -10px;
    font-family: Roboto, sans-serif, Arial;
    color: gray;
    font-size: 13px;
}

#recomended-sub {
    font-family: Roboto, sans-serif, Arial;
    color: gray;
    font-size: 13px;
}

hr {
    border: 0;
    height: 1px;
    background-color: lightgray;
    margin-right: 13px;
}